button {
    margin-top: 20px;
    background-color:rgb(16, 31, 73);
    color: white;
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 20px;

}

img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 70%;
    max-width: 70%;
    height: 70%;
}
.container .controls {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 1rem;
}

